<section>
      <div [className]="'update-container'">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Wpisz czas do aktualizacji</mat-label>
          <input [type]="'number'" matInput placeholder="Ex. 50" [(ngModel)]="this.updateTime">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Wpisz kwotę zakupu</mat-label>
          <input [type]="'number'" matInput placeholder="Ex. 4.50" [(ngModel)]="this.getPrice">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Wybierz walutę</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of this.getRates | keyvalue" [value]="item.key" (click)="getCurrencyValue(item)">
              {{item.key}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="newTimer()">Start</button>
        <div [className]="'purchase-amount-box'" *ngIf="purchaseAmount !== 0">
          <p>Waluta kupiona za</p>
          <p>{{this.purchaseAmount | number : '1.2-2'}} zł</p>
        </div>
      </div>
</section>
