@import '../sheardStyle/marginForSection.scss';

main {
  margin-top: $marginSection;
  .curriencies-buy-box {
    width: 100%;
    button {
      display: block;
      margin: 0 auto;
      height: 3rem;
      background-color: #186fcb;
      .go-to-buy-currencies {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
      }
    }
  }
}
