@import '../../sheardStyle/sizeOfElements.scss';
@import '../../sheardStyle/marginForSection.scss';
@import '../../sheardStyle/color.scss';


section {
  border-bottom: 2px solid grey;
  p {
    padding: 0 $nameLogoSize 0 $nameLogoSize;
    font-size: 20px;
    margin-bottom: .5rem;
  }
  .currency-container {
      padding: 0 $nameLogoSize 0 $nameLogoSize;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $marginSection;
      button {
        border-radius: 5px  0 0 5px;
        height: $buttonSize;
        background-color: $logoColor;
      }
      input {
        width: 100%;
        padding: 1rem;
        border: 1px solid lightgrey;
        height: 4rem;
        border-radius: 0 5px 5px 0;
      }
      ::ng-deep .mat-form-field-wrapper {
        padding: 0;
      }
  }
}
