<section>
  <p>Mam</p>
  <div [className]="'currency-container'">
    <button mat-flat-button (click)="currencyTypeDialog(true)">{{this.chooseCurrency.key}}</button>
    <input [type]="'number'" [(ngModel)]="this.chooseValue" (keyup)="getInputValue(true, $event)" placeholder="Type value">
  </div>
  <p>Chce</p>
  <div  [className]="'currency-container'">
    <button mat-flat-button (click)="currencyTypeDialog(false)">{{this.chooseToCalculate.key}}</button>
    <input [type]="'number'" [(ngModel)]="this.valueToCalculate" (keyup)="getInputValue(false, $event)" placeholder="Type value">
  </div>
</section>
